$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$small: 700px;
$medium: 900px;

.checkbox__single {
    font-family: $font;
    color: black;
    width: 32%;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 45px;

    input {
       display: none;

    &:checked {
        +div:after{
        height: 27px;
        width: 27px;
        display: inline-block;
        position: absolute;
        top: 1px;
        right: 1px;
        border-radius: 10px;
        background-color:#D4E1F4;
                }
            }
        }
    div {
        height: 35px;
        width: 35px;
        margin-right: 15px;
        border: 3px solid  #D4E1F4;
        display: inline-block;
        border-radius: 10px;
        position: relative;

        &:after {
            content: " ";
            opacity: 1;
        }
            }
    
}
.checkbox__single2 {
    font-family: $font;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input{
        display: none;

        &:checked {
            +div:after{
            height: 22px;
            width: 22px;
            display: inline-block;
            position: absolute;
            top: 1px;
            right: 1px;
            left: 1px;
            bottom: 1px;
            border-radius: 50%;
            background-color:#D4E1F4;
                    }
                }
            }
    div {
            margin-bottom: 20px; 
            height: 30px;
            width: 30px;
            border: 3px solid  #D4E1F4;
            display: inline-block;
            border-radius: 50%;
            position: relative;
    
            &:after {
                content: " ";
                opacity: 1;
            }
        }
}
.checkboxes__title {
    font-family: $font;
    color:black;
    text-align: center;
    font-size: 28px;
}
.checkboxes__wrapper {
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.checkboxes {
    &__subtitle, &__subtitle2 {
        font-family: $font;
        color:$blue-texts;
        font-size: 28px;
        padding-left: 8%;
    }
    &__subtitle {
        margin-bottom: 30px;
    }
    &__subtitle2  {
        margin-bottom: 60px;
    }
    &__wrapper2 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 49%;
    }
}