$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$contact-texts: #ADB5BD;
$small: 700px;

.contact {
    &__wrapper {
        background-color: #202942;
        width: 100%;
    }
    &__content {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: $small) {
            width: 80%;
        }
    }
    &__section1 {
        display: flex;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }
    }
    &__right {
        width: 45%;
        padding-left: 8%;
        margin-top: 150px;

        @media screen and (max-width: $small) {
            width: 100%;
            padding-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            order: 1;
        }

        img {
            width: 70%;
            height: auto;
        }
    }
    &__left {
        width: 55%;


        &-title {
            font-family: $font;
            color: $contact-texts;
            margin-top: 90px;
            margin-bottom: 20px;

            @media screen and (max-width: $small) {
                order: -2;
                display: flex;
            }
        }
        &-description {
            font-family: $font;
            color: $contact-texts;
            margin-bottom: 50px;

            @media screen and (max-width: $small) {
                order: -2;
                display: flex;
            }
        }

    }
    
    &__single {
        width: 45%;
        display: flex;
        align-items: center;
        margin-bottom: 45px ;

        @media screen and (max-width: $small) {
            width: 100%;
        }

        

        &-description {
            font-family: $font;
            font-size: 18px;
            color:$contact-texts;
            font-weight: 700;
        }

        img {
            margin-right: 10px;
        }
    }
    &__singles {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        
        @media screen and (max-width: $small) {
            order: 3;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: $small) {
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            width: 100%;
            margin-top: 45px;
        }
        input {
                border-radius: 10px;
                height: 57px;
                margin-top: 10px;
                padding-left: 10px;
                font-family: $font;
                font-size: 20px;
            }
        form {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (max-width: $small) {
                flex-direction: column;
                justify-content: center;
                flex-wrap: nowrap;
            }
        }
        &-name, &-email,  &-company, &-phone {
            font-family: $font;
            color:$contact-texts;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            width: 47%;
            margin-bottom: 42px;

            @media screen and (max-width: $small) {
                width: 100%;
            }

            

            

        }
        &-message{
                width: 100%;
                font-family: $font;
                color:$contact-texts;
                font-size: 16px;
                font-weight: 700;
                display: flex;
                flex-direction: column;
                margin-bottom: 42px;

                input {
                    border-radius: 10px;
                    height: 150px;
                    margin-top: 10px;
                    font-family: $font;
                    padding-left: 10px;
                    padding-top: 10px;
                    padding-right: 10px;
                    font-size: 20px;
                    }

                    @media screen and (max-width: $small) {
                        margin-bottom: 35px;
                    }
                }

                &-subject {
                    width: 100%;
                    font-family: $font;
                    color:$contact-texts;
                    font-size: 16px;
                    font-weight: 700;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 42px;

                    input {
                        border-radius: 10px;
                        height: 57px;
                        margin-top: 10px;
                        font-family: $font;
                        padding-left: 10px;
                        font-size: 20px;
                    }
        }
        &-button {
            cursor: pointer;
            background-color: $blue-texts;
            border-radius: 10px;
            border: none;
            padding: 10px 20px;
            width: 47%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 55px auto;
            color: white;
            font-family: $font;
            font-size: 16px;
            text-decoration: none;
            height: 57px;

        @media screen and (max-width: $small) {
            width: 77%;
            }
        }
    }
}