$font: 'Nunito';
$backgrounds: #F8F9FC;
$small: 700px;

.navbar__button {
    font-family: $font;
    border: none;
    background-color: #2F55D4;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 13px;
    color: white;
    font-weight: 600;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    order: 4;
    margin-left: 5vw;
    margin-right: 5vw;
    cursor: pointer;
        a {
            order: 4;
        }
}
.navbar__content {
    ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    order:2; 
    }
    li {
        list-style: none;
            a {
                color: #3C4858;
                font-family: $font;
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 600;
            }
    }
}
.navbar__wrapper-content {
    background-color: $backgrounds;
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    height: 75px;
    justify-content: center;
    z-index: 3;
    // max-width: 1440px;
    // justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    top:0;

    a {
        order: 4;
    }
}
.navbar__content  {
    width: 60%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    order: 2;
}
.navbar__logo {
    font-family: $font;
    font-size: 24px;
    color: #3C4858;
    font-weight: 600;
    order: -3;
    text-decoration: none;
}
.navbar__left {
    margin-left: 8%;
    margin-right: 5%;
}
.navbar__wrapper {
    background-color: $backgrounds;
    width: 100%;
    height: 75px;

    @media screen and (max-width: $small) { 
        display: none;
    }
}

