$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$small: 700px;

.realizations {
    &__title {
        color: #161C2D;
        font-family: $font;
        font-size: 35px;
        text-align: center;
        margin-top: 70px;

        @media screen and (max-width: $small) {
            font-size: 25px;
            margin-top: 50px;
        }
    }
    &__desc {
        font-family: $font;
        color: $grey-texts;
        width: 64%;
        text-align: center;
        margin: 50px auto 80px auto;
        font-size: 18px;

        @media screen and (max-width: $small) {
            margin-top: 30px;
        }
    }
    &__wrapper {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }
    }
    &__single {
        width: 32%;
        display: flex;
        flex-direction: column;
        margin-bottom: 55px;
        transition: 0.3s;
        position: relative;
        height: 262px;

        // &:hover {
        //     width: 35%;
        // }

        @media screen and (max-width: $small) {
            width: 100%;
        }

        &:hover > img {
            transform: perspective(600px) rotateY(-180deg);
        }

        &:hover > &-back {
            transform: perspective(600px) rotateY(0deg);
        }

        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            max-height: 262px;
            opacity: 50%;
            backface-visibility: hidden;
            position: absolute;
            transform: perspective(600px) rotateY(0deg);
            transition: transform .6s linear;
        }
        &-back{
            width: 100%;
            height: 100%;
            overflow: hidden;
            max-height: 262px;
            opacity: 100%;
            backface-visibility: hidden;
            position: absolute;
            background-color: white;
            transform: perspective(600px) rotateY(180deg);
            transition: transform .6s linear;

            p {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 75%;
            height: 100%;
            font-family: $font;
            font-size: 18px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        }
        
    }
    &__des{
        color: $grey-texts;
        font-family: $font;
        text-align: center;
        font-size: 20px;
        margin-top: 275px;

        @media screen and (max-width: $small) {
            font-size: 18px;
        }
    }
    &__section2 {
        display: flex;
        margin-bottom: 58px;
        background-color: $backgrounds;
        padding-bottom: 90px;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }
        &-left {
            width: 56%;
            display: flex;
            order: 1;

            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
        &-right{
            width: 44%;
            display: flex;
            flex-direction: column;
            order: 3;

            @media screen and (max-width: $small) {
                width: 100%;
                align-items: center;

            }
        }
    }
    &__title2{
        font-family: $font;
        color: $blue-texts;
        font-size: 35px;
        text-align: center; 
        width: 80%;
        margin-bottom: 50px;
        margin-top: 60px;

        @media screen and (max-width: $small) {
            font-size: 25px;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
    &__description3 {
        font-family: $font;
        color: $grey-texts;
        font-size: 18px;
        text-align: center;
        width: 80%;

        @media screen and (max-width: $small) {
            text-align: center;
        }
    }
    &__button {
        background-color: $blue-texts;
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55px auto;
        a{
        color: white;
        font-family: $font;
        font-size: 16px;
        text-decoration: none;
        }
    }
}