$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$small: 700px;

.shops {
    &__section1 {
        display: flex;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }

        &-right {
            width: 60%;

            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
        &-left {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $small) {
                width: 100%;
                order: 2;
            }

            img {
                height: 65%;
                width: 80%;
            }
        }
        &-title {
            font-family: $font;
            font-size: 35px;
            color: $blue-texts;
            margin-top: 80px;
            margin-bottom: 20px;

            @media screen and (max-width: $small) {
                margin-top: 50px;
                font-size: 25px;
                text-align: center;
            }
        }
        &-description {
            font-family: $font;
            font-size: 18px;
            color:$grey-texts;
            width: 85%;
            margin-bottom: 120px;

            @media screen and (max-width: $small) {
                margin-bottom: 50px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &__section2 {
        background-color: $backgrounds;


        &-content {
            width: 69%;
            padding-top: 61px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;

            @media screen and (max-width: $small) {
                flex-direction: column;
                width: 85%;
                padding-top: 50px;
            }
        }
        &-single {
                width: 46%;
                border: 2px solid rgba(47, 86, 212, 0.15);
                border-radius: 10px;
                margin-bottom: 57px;
                position: relative;

                @media screen and (max-width: $small) {
                    width: 100%;
                    margin-bottom: 25px;
                }
                img {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 10px;
                    right: 10px;

                    @media screen and (max-width: $small) {
                        width: 30px;
                        height: 30px;
                    }
                
                }
            }
        &-description {
            color:$grey-texts;
            font-family: $font;
            width: 85%;
            text-align: center;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;

            
        }
        &-title {
            font-family: $font;
            color:$blue-texts;
            font-size: 20px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
        

    }
    &__section3 {
        display: flex;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }
        &-left {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $small) {
                width: 100%;
                margin-top: 50px;
            }

            img {
                width: 50%;
                height: auto;
            }

        }
        &-right {
            width: 60%;
            @media screen and (max-width: $small) {
                width: 100%;
            }
            
        }
        &-title {
                font-family: $font;
                color: $blue-texts;
                font-size: 35px;
                margin-top: 80px;

                @media screen and (max-width: $small) {
                    font-size: 25px;
                    text-align: center;
                    margin-top: 50px;
                }
            }
        &-description {
            font-family: $font;
            color: $grey-texts;
            margin-top: 30px;
            margin-bottom: 60px;
            
            @media screen and (max-width: $small) {
                text-align: center;
                width: 85%;
                margin-left: auto;
                margin-right: auto;
            }

        }
    }
    &__section4 {
        &-title {
            color: #3F3D56;
            font-size: 20px;
            text-align: center;
            font-family: $font;
            margin-bottom: 60px;

        }
        &-content {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;

            @media screen and (max-width: $small) {
                flex-direction: column;
            }
        }
        &-single {
            width: 32%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: $small) {
                width: 100%;
            }

                img {
                width: 100%;
            }
                h2 {
                text-align: center;
                font-family: $font;
                color: $grey-texts;
                font-size: 20px;
                margin-top: 30px;
                margin-bottom: 50px;

                @media screen and (max-width: $small) {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__button {
        background-color: $blue-texts;
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55px auto;
        a {
        color: white;
        font-family: $font;
        font-size: 16px;
        text-decoration: none;
        }
    }

}